### Zabbix server configuration
DBName={{ zbx_db_name }}
DBUser={{ zbx_db_user }}
DBPassword={{ zbx_db_password }}


# Optional tunables for busy setups
# StartPollers=16
# StartTrappers=8
# CacheSize=512M
# HistoryCacheSize=256M
# TrendCacheSize=256M
# ValueCacheSize=256M
``